In [2]:
import seaborn as sns

In [5]:
tips = sns.load_dataset("tips")

In [6]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [17]:
tips.loc[(tips["smoker"] == "No") & (tips["tip"]>4)]

     total_bill   tip     sex smoker   day    time  size
5         25.29  4.71    Male     No   Sun  Dinner     4
11        35.26  5.00  Female     No   Sun  Dinner     4
20        17.92  4.08    Male     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
28        21.70  4.30    Male     No   Sat  Dinner     2
39        31.27  5.00    Male     No   Sat  Dinner     3
44        30.40  5.60    Male     No   Sun  Dinner     4
46        22.23  5.00    Male     No   Sun  Dinner     2
47        32.40  6.00    Male     No   Sun  Dinner     4
52        34.81  5.20  Female     No   Sun  Dinner     4
54        25.56  4.34    Male     No   Sun  Dinner     4
59        48.27  6.73    Male     No   Sat  Dinner     4
85        34.83  5.17  Female     No  Thur   Lunch     4
88        24.71  5.85    Male     No  Thur   Lunch     2
104       20.92  4.08  Female     No   Sat  Dinner     2
116       29.93  5.07    Male     No   Sun  Dinner     4
125       29.80  4.20  Female     No  Thur   Lunch     6
141       34.30  6.70    Male     No  Thur   Lunch     6
142       41.19  5.00    Male     No  Thur   Lunch     5
143       27.05  5.00  Female     No  Thur   Lunch     6
155       29.85  5.14  Female     No   Sun  Dinner     5
156       48.17  5.00    Male     No   Sun  Dinner     6
167       31.71  4.50    Male     No   Sun  Dinner     4
185       20.69  5.00    Male     No   Sun  Dinner     5
212       48.33  9.00    Male     No   Sat  Dinner     4
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3

In [24]:
tips.groupby(["sex","smoker","day","time"])["total_bill"].mean().reset_index()

       sex smoker   day    time  total_bill
0     Male    Yes  Thur   Lunch   19.171000
1     Male    Yes  Thur  Dinner         NaN
2     Male    Yes   Fri   Lunch   11.386667
3     Male    Yes   Fri  Dinner   25.892000
4     Male    Yes   Sat   Lunch         NaN
5     Male    Yes   Sat  Dinner   21.837778
6     Male    Yes   Sun   Lunch         NaN
7     Male    Yes   Sun  Dinner   26.141333
8     Male     No  Thur   Lunch   18.486500
9     Male     No  Thur  Dinner         NaN
10    Male     No   Fri   Lunch         NaN
11    Male     No   Fri  Dinner   17.475000
12    Male     No   Sat   Lunch         NaN
13    Male     No   Sat  Dinner   19.929063
14    Male     No   Sun   Lunch         NaN
15    Male     No   Sun  Dinner   20.403256
16  Female    Yes  Thur   Lunch   19.218571
17  Female    Yes  Thur  Dinner         NaN
18  Female    Yes   Fri   Lunch   13.260000
19  Female    Yes   Fri  Dinner   12.200000
20  Female    Yes   Sat   Lunch         NaN
21  Female    Yes   Sat  Dinner   20.266667
22  Female    Yes   Sun   Lunch         NaN
23  Female    Yes   Sun  Dinner   16.540000
24  Female     No  Thur   Lunch   15.899167
25  Female     No  Thur  Dinner   18.780000
26  Female     No   Fri   Lunch   15.980000
27  Female     No   Fri  Dinner   22.750000
28  Female     No   Sat   Lunch         NaN
29  Female     No   Sat  Dinner   19.003846
30  Female     No   Sun   Lunch         NaN
31  Female     No   Sun  Dinner   20.824286